* {
box-sizing: border-box;
}

.textNav {
    text-align: left;
}

.logo {
    max-width: 6rem;
    margin-left: 0;  
    display: inline-block;
}

.cont {
    max-height: 75%;
}

.ba1 {
    width: 100%;
    
    height: 90%;
}

.logoCont {
    width: 100%;
}

.right {
    text-align: right;
    position: absolute;
    box-sizing: content-box;
    margin-left:55%;
    margin-right: 5%;
    top: 40%;
}

.centrado {
    text-align: center;
}

.footer {
    background: rgba(31,82,112,255);
}

.button {
    background: rgba(150,201,62,255);
}

.buttonTickets {
    background: #28a744;
}

.bgBsAs {
    background: rgba(53,58,64,255);
}

.izquierda {
    text-align:left;
}

.puntitos {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.fondoValorEntrada {
    background-color: rgba(204,229,255,255);
}